---
import TwitchIcon from "@/icons/TwitchIcon.astro";
---

<section class="max-w-full md:px-20 px-5 flex flex-col font-medium text-primary gap-y-10 my-32">

  <div class="flex justify-center items-center">
    <a 
      href="https://twitch.tv/ibai"
      target="_blank"
      rel="noopener noreferrer"
      class="w-20 text-primary hover:scale-125 hover:opacity-70 transtion inline-flex"
    >
      <TwitchIcon />
    </a>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 uppercase transition text-center">

    <article class="order-2 sm:order-1 flex justify-center text-center items-center py-16 px-10 md:border-y-2 border-b-2 border-primary">
      <h5 class="text-xl">Presentación, Pesaje, entrevista y cara a cara</h5>
    </article>
    
    <article class="order-1 sm:order-2 flex justify-center text-center items-center py-16 px-10 border-y-2 border-primary">
      <h4 class="text-4xl">
        <a 
        href="https://twitch.tv/ibai"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:scale-110 hover:text-purple-800 transtion inline-flex"
      >
          Síguelo en directo Twitch.tv/ibai
        </a>
      </h4>
    </article>
    
    <article class="order-3 transition flex justify-center items-center text-center py-16 px-auto  md:border-y-2 border-b-2 border-primary">
      <h5 class="text-xl">Con la presencia de boxeadores y boxeadoras</h5>
    </article>
    
  </div>
</section>


